@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<div class="text-center" id="divMainBody">
    <h1 class="display-4" style="color:blue; text-align: center;">Welcome, Html to Pdf</h1>
    <h2>Report Header </h2>
    <p style="font-size: 22px;">
        What is Lorem Ipsum?
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

<button class="btn btn-primary" id="btnGenerate">Pdf Generate</button>

<script type="text/javascript">
    $("#btnGenerate").click(function () {
        var html = $("#divMainBody").html();
        html = html.replace(/</g, "start").replace(/>/g,"end");

        window.open("/Home/GeneratePdf?html=" + html, "_blank");
    })
</script>

